* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    font-family: 'Handjet', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Varela Round', sans-serif;
    background-color: rgba(209, 212, 212, 0.353);
    user-select: none;
}

header {
    min-height: 10vh;
    max-height: 10vh;
    font-size: 8.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1vh;
    text-shadow: .4vh .4vh #bdb7b7;
    font-weight: bolder;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 85.5vh;
    max-height: 85.5vh;
    flex-wrap: wrap;
    gap: 5rem;
}

#containerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

#container {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    min-width: 500px;
    max-height: 500px;
    min-height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

aside {
    display: flex;
    flex-direction: column;
}

aside div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5vh;
}

#range {
    accent-color: black;
    cursor: pointer;
}

#rangeDiv{
    gap: .9rem;
}

#rangeDiv, button {
    font-size: 1.5rem;
    padding: .1vh 4vh;
}

button {
    border-radius: 1.5vh;
    border: .2vh solid black;
    cursor: pointer;
    transition: transform .2s;
}

button:hover{
    transform: scale(1.02);
}

#downloadBtn {
    color: black;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 1.5vh;
    border: .2vh solid black;
    cursor: pointer;
    padding: .4rem .8rem;
}

#clearBtn:active, #downloadBtn:active{
    background-color: black;
    color: white;
}

#colorDiv {
    gap: 1.7rem;
}

#colorPicker {
    appearance: none;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;
    transition: transform .2s;
  }

#colorPicker::-webkit-color-swatch {
    border-radius: 50%;
}

#colorPicker:hover{
    transform: scale(1.07);
}

footer {
    min-height: 3.5vh;
    max-height: 3.5vh;
    font-size: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
}

a {
    transition: transform .2s;
}

a:hover {
    transform: scale(1.02);
}

.activeBtn{
    background-color: black;
    color: white;
}